# <font color='289C4E'>Devoir Maison 2
**Élèves**: Sadegh ABDERRAHIM & Gabriel PEREIRA DE CARVALHO & Otávio RIBAS

### <font color='289C4E'>Table des matières<font><a class='anchor' id='top'></a>
- [Problème](#Prob)
    - [Exercice 1](#E1)
    - [Exercice 2](#E2)
    - [Exercice 3](#E3)
    - [Exercice 4](#E4)
    - [Exercice 5](#E5)
    - [Exercice 6](#E6)
    - [Exercice 7](#E7)
    - [Exercice 8](#E8)
    - [Exercice 9](#E9)
    - [Exercice 10](#E10)
    - [Exercice 11](#E11)
    - [Exercice 12](#E12)
    - [Exercice 13](#E13)
    - [Exercice 14](#E14)
    - [Exercice 15](#E15)
    - [Exercice 16](#E16)
- [Application Numérique](#Pratique)
    - [Python Setup](#setup)
    - [Exercice 1](#P1)
    - [Exercice 2](#P2)
    - [Exercice 3](#P3)
    - [Exercice 4](#P4)
    - [Exercice 5](#P5)
    - [Exercice 6](#P6)
    - [Exercice 7](#P7)
    - [Exercice 8](#P8)
    - [Exercice 9](#P9)
    - [Exercice 10](#P10)

<h1 align="center"> <font color='green'>Problème</font></h1> <a class="anchor" id="Prob"></a>

<h2 align="center"> <font color='blue'>Exercice 1</font></h2> <a class="anchor" id="E1"></a>

Soit $n \geq 0$. Soit $\theta, \theta'$ tels que $\mathbb{P}_{n, \theta} = \mathbb{P}_{n, \theta'}$.

Donc, $\forall 1 \leq i \leq n$ on a $\mathrm{Ber}(\phi(\theta^T x_i)) = \mathrm{Ber}(\phi(\theta'^T x_i))$.

Ainsi $\forall i \in \{1, ..., n\} \quad \phi(\theta^T x_i) = \phi(\theta'^T x_i)$.

D'autre part $\forall t > 0 \quad \phi'(t) = \frac{e^t}{(1 + e^t)^2} \geq 0$.

Donc $\phi$ est strictement croissante et continue $\implies \phi$ est bijective.

On en déduit que $\forall 1 \leq i \leq \theta^T x_i = \theta'^T x_i$ et donc $X_n \theta = X_n \theta'$ où la matrice $X_n \in \mathcal{M}_{n \times p}(\mathbb{R})$ est de rang $p$ et donc elle est injective.

Ainsi, nous obtenons que $\theta = \theta'$ et donc le modèle est identifiable.

<h2 align="center"> <font color='blue'>Exercice 2</font></h2> <a class="anchor" id="E2"></a>

Soit $\theta \in \mathbb{R}^p$. On a
$$ F_n(\theta)^T = \sum_{i=1}^{n} h(\theta^T x_i)(x_i x_i^T)^T = F_n(\theta).$$

Donc $F_n$ est bien symétrique.

Soit $u \in \mathbb{R}^p$,
$$\begin{align}
u^T F_n(\theta) u &= \sum_{i=1}^{n} h(\theta^T x_i) u^Tx_i x_i^T u \\
&= \sum_{i=1}^{n} h(\theta^T x_i) \| x_i^T u \|^2.
\end{align}$$

Or, $\forall t \in \mathbb{R}$, $h(t) = \frac{e^t}{(1 + e^t)^2} \geq 0$ Et donc $u^T F_n(\theta) u \geq 0$.

On en conclue que $F_n(\theta)$ est définie positive.

<h2 align="center"> <font color='blue'>Exercice 3</font></h2> <a class="anchor" id="E3"></a>

On a $\forall t \in \mathbb{R}$, 
$$\begin{align}
h(t) &= \frac{e^t}{(1 + e^t)^2}\\
&= \frac{1}{2 + e^{-t} + e^t} \\
&= \frac{1}{2 + 2\cosh(t)}.
\end{align}$$

Ainsi on a $$h'(t) = \frac{\sinh(t)}{2(1 + \cosh(t))^2}$$.

Or comme $|\sinh(t)| \leq \cosh(t)$, on a 
$$ |h'(t)| = \frac{\sinh(t)}{2(1 + \cosh(t))^2} \leq \frac{|\sinh(t)|}{4\cosh(t)} \leq \frac{1}{4}.$$

On en conclue que $h$ est $1$-Lipschitzienne sur $\mathbb{R}$.

<h2 align="center"> <font color='blue'>Exercice 4</font></h2> <a class="anchor" id="E4"></a>

Soit $\theta \in \mathbb{R}^p$. Calculons la vraisemblance
$$\begin{align}
L_n(\theta) &= \mathbb{P}_{n, \theta} (Y_1, ..., Y_n)\\
&= \prod_{i=1}^{n} \phi(\theta^T x_i)^{Y_i} (1 - \phi(\theta^T x_i))^{1 - Y_i}.
\end{align}$$

Alors, calculons la log-vraisemblance
$$ l_n(\theta) = \sum_{i=1}^{n} Y_i \ln(\phi(\theta^T x_i)) + (1-Y_i)\ln(1 - \phi(\theta^T x_i)). $$

<h2 align="center"> <font color='blue'>Exercice 5</font></h2> <a class="anchor" id="E5"></a>

Soit $\theta \in \mathbb{R}^p$.
$$\begin{align}
\nabla l_n(\theta) &= \sum_{i=1}^{n} Y_i \frac{\nabla \phi(\theta^T x_i)}{\phi(\theta^T x_i)} + \sum_{i=1}^{n} (1 - Y_i)\frac{-\nabla \phi(\theta^T x_i)}{1 - \phi(\theta^T x_i)} \\
&= \sum_{i=1}^{n} Y_i \frac{x_i \phi'(\theta^T x_i)}{\phi(\theta^T x_i)} - \sum_{i=1}^{n} (1 - Y_i)\frac{x_i \phi'(\theta^T x_i)}{1 - \phi(\theta^T x_i)}.
\end{align}$$

Alors, on sait que $\phi'(t) = \phi(t)\phi(1 -t) \implies \frac{\phi'(t)}{\phi(t)} = \phi(1 - t)$ ce qui donne
$$\begin{align}
\nabla l_n(\theta) &= \sum_{i=1}^{n} Y_i x_i[1 - \phi(\theta^T x_i)] - \sum_{i=1}^{n} (1-Y_i)x_i \phi(\theta^T x_i)\\
&= \sum_{i=1}^{n}Y_i x_i - x_i \phi(\theta^T x_i)\\
&= \sum_{i=1}^{n} [Y_i - \phi(\theta^T x_i)]x_i.
\end{align}$$

On en conclue $$\nabla l_n(\theta) = X_n^T[Y_n - \Phi_n(\theta)].$$

Soit $0 \leq i,j \leq n$, on a
$$\begin{align}
\frac{\partial^2 l_n(\theta)}{\partial \theta_i \partial \theta_j} &= \sum_{k=1}^{n} \frac{\partial}{\partial \theta_i} \left[ - \phi'(\theta^T x_k) (x_k)_j \right]\\
&= - \sum_{k=1}^{n} \phi'(\theta^T x_k) (x_k)_i (x_k)_j.
\end{align}$$

Or $\forall t \in \mathbb{R}$, $\phi'(t) = h(t)$ et $\forall(i,j)$, on a $(x_k x_k^T)_{i,j} = (x_k)_i (x_k)_j$ et donc
$$ \frac{\partial^2 l_n(\theta)}{\partial \theta_i \partial \theta_j} = - \sum_{k=1}^{n} h(\theta^T x_k) (x_k x_k^T)_{i,j}.$$

Ainsi $$ \nabla^2 l_n(\theta) = \sum_{k=1}^{n} l_n(\theta^T x_k) x_k x_k^T = -F_n(\theta).$$

On remarque que la matrice Hessienne de $l_n(\theta)$ est symétrique définie négative $\implies l_n$ est concave.

D'après le cours, on a
$$\begin{align}
\mathbb{I}(\theta) &= \mathbb{E}_\theta[\nabla l_n(\theta) \nabla l_n(\theta)^T]\\
&= - \mathbb{E}_{\theta}[\nabla^2 l_n(\theta)]
\end{align}$$
où $\mathbb{I}(\theta)$ est l'information de Fisher.

Donc $$ E_{n, \theta}[\nabla l_n(\theta) \nabla l_n(\theta)^T] = F_n(\theta).$$

<h2 align="center"> <font color='blue'>Exercice 6</font></h2> <a class="anchor" id="E6"></a>

On a $$ l_n(\theta) = \sum_{i=1}^{n} \left[ Y_i \ln(\phi(\theta^T x_i)) + (1 - Y_i)\ln(1 - \phi(\theta^T x_i)) \right] $$
Ainsi $$\begin{align}
l_n(\lambda \theta_*) &= \sum_{i=1}^{n} \left[ Y_i \ln(\phi(\lambda \theta_*^T x_i)) + (1 - Y_i)\ln(1 - \phi(\lambda \theta_*^T x_i)) \right] \\
&= \sum_{i : Y_i = 0} \ln(1 - \phi(\lambda \theta_*^T x_i)) + \sum_{i : Y_i = 1} \ln(\phi(\lambda \theta_*^T x_i)).
\end{align}$$

Or $\forall i$ tel que $Y_i = 1$, on a $\theta_*^T x_i > 0$ ainsi
$$ \lim_{\lambda \to +\infty} \ln(\phi(\lambda \theta_*^T x_i)) = \lim_{t \to 1} \ln(t) = 0.$$

Analogiquement $\forall i$ tel que $Y_i = 0$, on a $\theta_*^T x_i < 0$ ainsi
$$ \lim_{\lambda \to +\infty} \phi(\lambda \theta_*^T x_i) = 0 \implies \lim_{\lambda \to +\infty} \ln(1 - \phi(\lambda \theta_*^T x_i)) = \lim_{t \to 1} \ln(t) = 0.$$

Donc $ \lim_{\lambda \to +\infty} l_n(\lambda \theta_*) = 0.$

On sait que $0 < L(\theta) < 1$ car $\phi(t) \in ]0,1[$ et donc $l_n(\theta) < 0$. Ainsi, $\forall \theta \in \mathbb{R}^p$ il existe $\lambda \in \mathbb{R}$ tel que $l_n(\theta) < l_n(\lambda \theta_*)$ car $\lim_{\lambda \to +\infty} \ln(\lambda \theta_*) = 0$. Donc, on conclue que le maximum de vraissemblance n'existe pas dans ce cas là.

<h2 align="center"> <font color='blue'>Exercice 7</font></h2> <a class="anchor" id="E7"></a>

Soit $\bar{\theta} \in \mathbb{R}^p$. On calcule $L_n(\theta)$ en $\theta_\lambda = \lambda \theta_* + (\bar{\theta} - \theta_*)$, on a
$$\begin{align}
L_n(\theta_\lambda) &= \prod_{i=1}^{n} \phi(\theta_\lambda^T x_i)^{Y_i} (1 - \phi(\theta_\lambda^T x_i))^{1 - Y_i}\\
&= \left(\prod_{i \in \varepsilon} \phi(\bar{\theta}^T x_i)^{Y_i} (1 - \phi(\bar{\theta}^T x_i))^{1 - Y_i} \right) \left( \prod_{i \not\in \varepsilon} \phi(\theta_\lambda^T x_i)^{Y_i} (1 - \phi(\theta_\lambda^T x_i))^{1 - Y_i} \right)
\end{align}$$

Alors, $\forall i \not\in \varepsilon$ avec $Y_i = 1$ on a $\theta_*^T x_i > 0$ ainsi
$$ \lim_{\lambda \to +\infty} e^{- \theta_\lambda^T x_i} = \lim_{\lambda \to +\infty} e^{- \lambda \theta_*^T x_i}e^{-(\bar{\theta} - \theta_*)^T x_i} = 0$$
et donc $\lim_{\lambda \to +\infty} \phi(\theta_\lambda^T x_i) = 1$.

De même, $\forall i \not\in \varepsilon$ avec $Y_i = 0$ on a $\theta_*^T x_i < 0$ ainsi
$$ \lim_{\lambda \to +\infty} e^{- \theta_\lambda^T x_i} = \lim_{\lambda \to +\infty} e^{- \lambda \theta_*^T x_i}e^{-(\bar{\theta} - \theta_*)^T x_i} = +\infty$$
et donc $\lim_{\lambda \to +\infty} \phi(\theta_\lambda^T x_i) = 0$, ainsi $\lim_{\lambda \to +\infty} 1 - \phi(\theta_\lambda^T x_i) = 1$.

On en conclue $$ \lim_{\lambda \to +\infty} \left( \prod_{i \not\in \varepsilon} \phi(\theta_\lambda^T x_i)^{Y_i} (1 - \phi(\theta_\lambda^T x_i))^{1 - Y_i} \right) = 1.$$

D'autre part, le produit $\left(\prod_{i \in \varepsilon} \phi(\bar{\theta}^T x_i)^{Y_i} (1 - \phi(\bar{\theta}^T x_i))^{1 - Y_i} \right)$ est clé en $\lambda$ et donc $\forall \bar{\theta} \in \mathbb{R}^p$ il existe $\lambda \in \mathbb{R}$ Tel que $L_n(\theta_\lambda) \geq L_n(\bar{\theta})$ et donc le maximum de vraisemblance n'existe pas dans une telle situation.

<h2 align="center"> <font color='blue'>Exercice 8</font></h2> <a class="anchor" id="E8"></a>

Supposons l'existence D’un recouvrement.

Notons $$\begin{align}
\begin{cases}
k_{1,\theta} &= \mathrm{argmax}_{k \in \{1,...,n\}} \theta^T x_k \\
k_{2,\theta} &= \mathrm{argmin}_{k \in \{1,...,n\}} \theta^T x_k.
\end{cases}
\end{align}$$

Comme $\exists k_1, k_2$ tel que $\theta^T x_{k_1} > 0$ et $\theta^T x_{k_2} < 0$ alors on déduit $$\begin{align}
\begin{cases}
\theta^T x_{k_{1, \theta}} > 0 \\
\theta^T x_{k_{2, \theta}} < 0.
\end{cases}
\end{align}$$

Les fonctions $\Phi_1: \theta \mapsto \theta^T x_{k_{1, \theta}} > 0$ et $\Phi_2: \theta \mapsto \theta^T x_{k_{2, \theta}} < 0$ sont bornées sur $\mathcal{S}(0,1)$ car
$$\begin{align}
|\theta^T x_{k_{1, \theta}}| &\leq \sqrt{\|\theta\| \| x_{k_{1, \theta}} \|} \quad \text{par l'inégalité de Cauchy-Schwarz}\\
&\leq \sqrt{\| x_{k_{1, \theta}} \|}\\
&\leq \max_{k} \sqrt{\|x_k\|} = \zeta.
\end{align}$$

De même $| \theta^T x_{k_{2, \theta}} | \leq \zeta = \max_{k} \sqrt{\|x_k\|}$.

Et donc comme $\mathcal{S}(0,1)$ est compacte et $\Phi_1$ et $\Phi_2$ sont bornées sur $\mathcal{S}(0,1)$, alors elles admettent un minimum et un maximum.

Soit $M_1 = \min_{\theta} \theta^T x_{k_{1, \theta}}$ et $M_2 = \min_{\theta} \theta^T x_{k_{2, \theta}}$ alors si on prend $\epsilon = \min(M_1, - M_2)$, on aura bien
$$\forall \theta \in \mathcal{S}(0,1) \quad \theta^T x_{k_{1, \theta}} > \epsilon \quad \text{et} \quad \theta^T x_{k_{2, \theta}} < - \epsilon.$$

Soit $\lambda > 0$, calculons maintenant $l_n(\lambda \theta)$.
$$\begin{align}
l_n(\lambda \theta) &= \sum_{i=1}^{n} \left[ Y_i \ln(\phi(\theta^T x_i)) + (1-Y_i)\ln(1 - \phi(\theta^T x_i)) \right] \\
&\leq Y_{k_{1,\theta}} \ln(\phi(\theta^T x_i)) + (1 - Y_{k_{1,\theta}})\ln(1 - \phi(\theta^T x_{k_{1,\theta}})) \\
&= \ln(1 - \phi(\theta^T x_{k_{1, \theta}})) - Y_{k_{1, \theta}}\ln\left(\frac{1 - \phi(\theta^T x_{k_{1,\theta}})}{\phi(\theta^T x_{k_{1,\theta}})}\right).
\end{align}$$

Et donc $$\begin{align}
l_n(\lambda \theta) &\leq \ln\left(\frac{e^{-\lambda \theta^T x_{k_{1, \theta}}}}{1 + e^{-\lambda \theta^T x_{k_{1, \theta}}}}\right) - Y_{k_{1, \theta}}\ln(e^{-\lambda \theta^T x_{k_{1, \theta}}})\\
&\leq \ln(e^{-\lambda \theta^T x_{k_{1, \theta}}}) - Y_{k_{1, \theta}}\ln(e^{-\lambda \theta^T x_{k_{1, \theta}}})\\
&= -\lambda \theta^T x_{k_{1, \theta}} (1 + Y_{k_{1, \theta}})\\
&\leq -\lambda \epsilon.
\end{align}$$

Et donc on voit que si on prend $\lambda_m = \frac{M}{\epsilon}$ on aura que $$ \forall \lambda > \lambda_m \quad l_n(\lambda \theta) \leq -\lambda \epsilon < -M $$ ce qu'implique $\lim_{\| \theta \| \to +\infty} l_n(\theta) = -\infty$.

Ainsi comme $l_n$ est strictement concave, alors elle admet un unique maximum sur $\mathbb{R}^p$.

<h2 align="center"> <font color='blue'>Exercice 9</font></h2> <a class="anchor" id="E9"></a>

Soit $n > 0$. Comme $h$ est $1-$lipschitzienne alors
$$ \forall i \in \{1,...,n\} \quad |h(\theta^T x_i) - h(\vartheta^T x_i)| < |(\theta^T - \vartheta^T)x_i| \quad \forall \theta,\vartheta \in \mathbb{R}^p.$$

On a
$$\begin{align}
\| F_n(\theta) - F_n(\vartheta) \| &= \left| \sum_{i=1}^{n} \left(h(\theta^T x_i) - h(\vartheta^T x_i)\right) x_i x_i^T\right|\\
&\leq \sum_{i=1}^{n} |h(\theta^T x_i) - h(\vartheta^T x_i)| \| x_i x_i^T \|\\
&\leq \sum_{i=1}^{n} | (\theta - \vartheta)^T x_i | \|x_i x_i^T \|\\
&\leq \sum_{i=1}^{n} \| (\theta - \vartheta) \| \|x_i\| \|x_i\| \|x_i\| \\
&\leq n \|\theta - \vartheta\| \frac{1}{n}\sum_{i=1}^{n}\|x_i\|^3.
\end{align}$$

Or définissons $C = \sup \frac{1}{n}\sum_{i=1}^{n}\|x_i\|^3 < 0$. On remarque que $C$ existe par hypothèse. Donc on a finalement
$$ \forall \theta, \vartheta \in \mathbb{R}^p \quad \forall n>0 \quad \|F_n(\theta) - F_n(\vartheta)\| \leq C n \|\theta - \vartheta\|. $$

<h2 align="center"> <font color='blue'>Exercice 10</font></h2> <a class="anchor" id="E10"></a>

On fait un developpement limité à l'ordre $1$ de la log-vraisemblance
$$\begin{align}
\frac{\nabla l_n (\hat{\theta}_n^{MV}) - \nabla l_n(\theta)}{\sqrt{n}} &= \left[ \frac{\nabla^2 l_n(\theta)}{n} + h_{n,\theta}(\hat{\theta}_n^{MV} - \theta) \right] \sqrt{n} (\hat{\theta}_n^{MV} - \theta)\\
&=\left[ \frac{-F_n(\theta)}{n} + h_{n,\theta}(\hat{\theta}_n^{MV} - \theta) \right] \sqrt{n} (\hat{\theta}_n^{MV} - \theta)
\end{align}$$
avec $h_{n, \theta}(0) = 0$ et $h_{n, \theta}(h) = o(\|h\|)$.


Ainsi $R_n = l_n(\hat{\theta}_n^{MV} - \theta)$, or $\hat{\theta}_n^{MV} \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \theta$.

On a alors $R_n = h_{n, \theta}(\hat{\theta}_n^{MV} - \theta) = O(\|\hat{\theta}_n^{MV} - \theta\|) = O(1)$.

On en conclue $R_n \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} 0$.

<h2 align="center"> <font color='blue'>Exercice 11</font></h2> <a class="anchor" id="E11"></a>

On a
$$ \nabla l_n(\theta) = \sum_{i=1}^{n} \left[ Y_i x_i - x_i\phi(\theta^T x_i) \right].$$

Pour tout $n \in \mathbb{N}$, on pose $k_n = n$ et $\forall i \in \{ 1,...,n \} \quad Y_{n,i} = \frac{Y_i x_i - x_i\phi(\theta^T x_i)}{\sqrt{n}}$.

On sait que les $Y_{n, i}$ sont indépendants et $\mathbb{E}_\theta[Y_{n,i}] = 0.$

Montrons que
- $\forall \epsilon > 0 \quad \lim_{n \to +\infty} \sum_{i=1}^{n} \mathbb{E}_\theta \left[ \| Y_{n,i} \|^2 \mathbb{1}_{\| Y_{n,i} \| > \epsilon} \right] = 0$,
- et que $ \lim_{n \to +\infty} \sum_{i=1}^{n} \mathrm{Var}_{\theta}(Y_{n,i}) = \phi(\theta).$

Soit $\epsilon > 0$ et $n > 0$. On a
$$ \| Y_{n, i} \|^2 = \frac{(Y_i - \phi(\theta^T x_i))^2}{n}\| x_i \|^2 \leq \frac{\|x_i\|^2}{n}.$$

D'autre part $\| Y_{n,i} \| > \epsilon \implies \|x_i\|^2 \geq n\epsilon \implies \|x_i\| \geq \sqrt{n\epsilon}$.

Alors
$$\begin{align}
0 \leq \sum_{i=1}^n \mathbb{E}_\theta \left[ \| Y_{n,i} \|^2 \mathbb{1}_{\| Y_{n,i} \| > \epsilon} \right] &\leq \sum_{i=1}^{n} \frac{\|x_i\|^2}{n} \mathbb{1}_{\|x_i\| > \sqrt{n \epsilon}}\\
&= \sum_{i=1}^{n} \frac{\|x_i\|^3}{n \|x_i\|} \mathbb{1}_{\|x_i\| > \sqrt{n \epsilon}} \\
&\leq \frac{1}{\sqrt{n\epsilon}} \left( \frac{1}{n} \sum_{i=1}^{n} \|x_i\|^3 \right)\\
&\leq \frac{C}{\sqrt{n\epsilon}} \overset{n \to +\infty}{\longrightarrow} 0.
\end{align}$$

Et donc $\forall \epsilon > 0 \lim_{n \to 0} \sum_{i=1}^{n} \mathbb{E}_\theta \left[ \| Y_{n,i} \|^2 \mathbb{1}_{\| Y_{n,i} \| > \epsilon} \right] = 0$.

Maintenant on calcule
$$\begin{align}
\sum_{i=1}^{n} \mathrm{Var}_\theta (Y_{n, i}) &= \sum_{i=1}^{n} \mathbb{E}_\theta \left[ Y_{n,i} Y_{n,i}^T \right]\\
&= \sum_{i=1}^{n} \frac{1}{n} \mathbb{E}_\theta \left[ \left( Y_i - \phi(\theta^T x_i) \right)^2\right] x_i x_i^T \\
&= \sum_{i=1}^{n} \frac{1}{n} \left[ \phi(\theta^T x_i) \left( 1 - \phi(\theta^T x_i) \right)^2 + \left( 1 - \phi(\theta^T x_i) \right) \phi(\theta^T x_i)^2\right] x_i x_i^T\\
&= \sum_{i=1}^{n} \frac{1}{n} \left( 1 - \phi(\theta^T x_i) \right) \phi(\theta^T x_i) x_i x_i^T \\
&= \frac{F_n(\theta)}{n} \overset{n \to +\infty}{\longrightarrow} Q(\theta).
\end{align}$$

Et donc en conclusion, selon le théorème de Lindberg-Feller, on a
$$ \frac{\nabla l_n(\theta)}{\sqrt{n}} \overset{\mathbb{P}_{n,\theta}}{\implies} \mathcal{N}(0, Q(\theta))$$

<h2 align="center"> <font color='blue'>Exercice 12</font></h2> <a class="anchor" id="E12"></a>

On a l'expression $$ \frac{\nabla l_n(\theta)}{\sqrt{n}} = \left( \frac{F_n(\theta)}{n} - R_n \right)\sqrt{n} (\hat{\theta}_n^{MV} - \theta).$$

Donc $$ \frac{F_n(\theta)}{n}\sqrt{n} (\hat{\theta}_n^{MV} - \theta) = \frac{\nabla l_n(\theta)}{\sqrt{n}} + R_n\sqrt{n} (\hat{\theta}_n^{MV} - \theta). $$

Or $R_n \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} 0$ et $\frac{\nabla l_n(\theta)}{\sqrt{n}} \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, Q(\theta))$ alors d'après Slutsky
$$ \frac{F_n(\theta)}{n}\sqrt{n} (\hat{\theta}_n^{MV} - \theta) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, Q(\theta)).$$

D'autre part $\frac{F_n(\theta)}{n} \overset{n \to +\infty}{\longrightarrow} Q(\theta)$ et donc encore utilisant Slutsky $$Q(\theta) \sqrt{\theta} \left( \hat{\theta}_n^{MV} - \theta \right) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, Q(\theta))$$.

On en conclue
$$\sqrt{\theta} \left( \hat{\theta}_n^{MV} - \theta \right) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, Q(\theta)^{-1}) $$
où $Q(\theta)$ est inversible car définie positive.

<h2 align="center"> <font color='blue'>Exercice 13</font></h2> <a class="anchor" id="E13"></a>

La suite $(\hat{\theta}_n^{MV})_{n \in \mathbb{N}}$ est consistante:
$$ \left\|\frac{F_n(\hat{\theta}_n^{MV})}{n} - Q(\theta) \right\| \overset{n \to +\infty}{\longrightarrow} 0 $$
Et donc $$\frac{F_n(\hat{\theta}_n^{MV})}{n} \overset{n \to +\infty}{\longrightarrow} Q(\theta) \implies \left( \frac{F_n(\hat{\theta}_n^{MV})}{n} \right)^{-1} \overset{n \to +\infty}{\longrightarrow} Q(\theta)^{-1}.$$

On en déduit que $\beta_{n,k} \overset{n \to +\infty}{\longrightarrow} \left(Q(\theta)^{-1}\right)_{n,k}$.

Et comme $\sqrt{n}\left(\hat{\theta}_n^{MV} - \theta\right) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, Q(\theta)^{-1}) \implies \sqrt{n}\left(\hat{\theta}_n^{MV} - \theta\right)_k \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0, (Q(\theta)^{-1})_{k,k}) $.

Et donc d'après Slutsky on a 
$$ \sqrt{\frac{n}{\beta_{n,k}}}\left(\hat{\theta}_n^{MV} - \theta\right) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}\left( 0, \frac{(Q(\theta)^{-1})_{k,k}}{(Q(\theta)^{-1})_{k,k}} \right) = \mathcal{N}(0,1).$$

<h2 align="center"> <font color='blue'>Exercice 14</font></h2> <a class="anchor" id="E14"></a>

D'après ce qui précede $\sqrt{\frac{n}{\beta_{n,k}}}\left(\hat{\theta}_n^{MV} - \theta\right) \overset{\mathbb{P}_{n,\theta}}{\longrightarrow} \mathcal{N}(0,1)$, ainsi
$$ \lim_{n \to +\infty} \mathbb{P}_\theta \left( \sqrt{\frac{n}{\beta_{n,k}}}\left(\hat{\theta}_n^{MV} - \theta\right) \in \left[ -q_{1 - \frac{\alpha}{2}}, q_{1 - \frac{\alpha}{2}} \right] \right) = 1 - \alpha $$
avec $q_{1 - \frac{\alpha}{2}}$ le quantile d'ordre $1 - \frac{\alpha}{2}$ du loi $\mathcal{N}(0,1)$.

Ainsi, on trouve un intervalle de confiance asymptotique de niveau $1 - \alpha$, 
$$ I(\alpha) = \left[ \hat{\theta}_n^{MV} - \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\alpha}{2}} , \hat{\theta}_n^{MV} + \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\alpha}{2}} \right].$$

<h2 align="center"> <font color='blue'>Exercice 15</font></h2> <a class="anchor" id="E15"></a>

On considère la statistique de test $T(Z) = | \hat{\theta}_n^{MV} |$ et la zone de réjet $\mathcal{R}_\alpha = \left\{ Z : T(Z) > \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\alpha}{2}} \right\}$.

Et donc d'après la question précedente $\lim_{n \to +\infty} \mathbb{P}(\theta \not\in I(\alpha)) = \alpha$. On en conclut que ce test répond au question.

<h2 align="center"> <font color='blue'>Exercice 16</font></h2> <a class="anchor" id="E16"></a>

La p-valeur asymptotique $\hat{\alpha}(Z)$ vérifie
$$ | \hat{\theta}_{n,k}^{MV} | =  \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\hat{\alpha}}{2}}.$$

D’où
$$ q_{1 - \frac{\hat{\alpha}}{2}} =  \sqrt{\frac{n}{\beta_{n,k}}}| \hat{\theta}_{n,k}^{MV} | $$
ce qui donne
$$ \hat{\alpha}(Z) = 2 - 2F \left( \sqrt{\frac{n}{\beta_{n,k}}}| \hat{\theta}_{n,k}^{MV} | \right) $$
où F est la fonction de répartition de la loi $\mathcal{N}(0,1)$.

<h1 align="center"> <font color='green'>Application Numérique</font></h1> <a class="anchor" id="Pratique"></a>

<h2 align="center"> <font color='gray'>Python Setup</font></h2> <a class="anchor" id="setup"></a>

In [1]:
import math
import numpy as np
from numpy.linalg import inv,norm
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as npr
import scipy.stats as sps

Maintenant, on va importer le fichier $\texttt{Titanic.csv}$ et créer le dataframe pandas qu'on va utiliser pour la suite.

In [2]:
csv_file = pd.read_csv('Titanic.csv')
titanicData = pd.DataFrame(csv_file)

#on élimine les colonnes indiques dans l'enoncé
titanicData.drop(['PassengerId', 'Ticket', 'Cabin', 'Embarked'], inplace=True, axis=1)

titanicData.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
5,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708

In [3]:
titanicData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [4]:
titanicData.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
print(f'Number of rows with empty ages: {np.shape(np.where(pd.isnull(titanicData))[0])[0]}')

print(f"Different classes: {np.unique(titanicData['Pclass'])}")

Number of rows with empty ages: 177
Different classes: [1 2 3]

Notez que dans le DataSet, il y a 177 lignes sans Age. Nous pouvons compléter ces lignes. En outre, nous remarquons que la variable catégorielle $\textbf{Pclass}$ admet 3 valeurs différentes. Elle peut être remplacée par 3 variables "muettes", une pour chaque classe. En outre, le sexe peut être remplacé par des variables binaires. Enfin, chaque passager a un titre dans son nom, ce qui peut nous aider à obtenir des informations importantes (par exemple, les personnes ayant le même titre sont susceptibles d'être proches en âge).

In [6]:
#transformons la colonne Sex en un attribut binaire (female=0, male=1)
titanicData['Sex'] = titanicData['Sex'].map({'female': 0, 'male': 1})

#transformons la colonne Pclass en trois varaibles muettes binaires (Class_1, Class_2, Class_3)
dummyPclass = pd.get_dummies( titanicData['Pclass'], prefix='Class', dtype=int)
titanicData['Class_1'] = dummyPclass['Class_1']
titanicData['Class_2'] = dummyPclass['Class_2']
titanicData['Class_3'] = dummyPclass['Class_3']

#on extracte des titres dans les noms
titanicData['Title'] = titanicData.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

Nous avons maintenant analysé l'âge moyen pour chaque combinaison de titre, de classe et de sexe.

In [7]:
titanicData.groupby(['Title', 'Pclass', 'Sex'])['Age'].agg(['mean', 'std', 'count'])

                          mean        std  count
Title    Pclass Sex
Capt     1      1    70.000000        NaN      1
Col      1      1    58.000000   2.828427      2
Countess 1      0    33.000000        NaN      1
Don      1      1    40.000000        NaN      1
Dr       1      0    49.000000        NaN      1
                1    42.000000   9.165151      3
         2      1    38.500000  21.920310      2
Jonkheer 1      1    38.000000        NaN      1
Lady     1      0    48.000000        NaN      1
Major    1      1    48.500000   4.949747      2
Master   1      1     5.306667   5.165475      3
         2      1     2.258889   2.342634      9
         3      1     5.350833   3.593608     24
Miss     1      0    30.000000  12.852308     45
         2      0    22.390625  13.374708     32
         3      0    16.123188   9.697315     69
Mlle     1      0    24.000000   0.000000      2
Mme      1      0    24.000000        NaN      1
Mr       1      1    41.580460  14.148275     87
         2      1    32.768293  11.850977     82
         3      1    28.724891  10.490946    229
Mrs      1      0    40.882353  12.643754     34
         2      0    33.682927  10.318525     41
         3      0    33.515152  10.031579     33
Ms       2      0    28.000000        NaN      1
Rev      2      1    43.166667  13.136463      6
Sir      1      1    49.000000        NaN      1

On constate que certains titres sont assez rares. Nous regroupons donc les titres similaires en un seul groupe, afin d'obtenir des informations statistiquement pertinentes. Certains titres sont différents pour des raisons linguistiques (Mme, par exemple, qui équivaut à Mrs en français). Il y a aussi des titres qui sont des titres de noblesse, des titres militaires ou des professions spécialisées. Nous les combinons donc.

In [8]:
titles = {"Capt": "Military", "Col": "Military", "Major": "Military", "Jonkheer": "Noble", "Don": "Noble", "Sir" : "Noble", "Dr": "Specialist", "Rev": "Specialist", "Countess": "Noble", "Mme": "Mrs", "Mlle": "Miss", "Ms": "Mrs", "Mr" : "Mr", "Mrs" : "Mrs", "Miss" : "Miss", "Master" : "Master", "Lady" : "Noble"}

titanicData['Title'] = titanicData['Title'].map(titles)

In [9]:
titanicData.groupby(['Title', 'Pclass', 'Sex'])['Age'].agg(['mean', 'std', 'count'])

                            mean        std  count
Title      Pclass Sex
Master     1      1     5.306667   5.165475      3
           2      1     2.258889   2.342634      9
           3      1     5.350833   3.593608     24
Military   1      1    56.600000   9.316652      5
Miss       1      0    29.744681  12.629276     47
           2      0    22.390625  13.374708     32
           3      0    16.123188   9.697315     69
Mr         1      1    41.580460  14.148275     87
           2      1    32.768293  11.850977     82
           3      1    28.724891  10.490946    229
Mrs        1      0    40.400000  12.779119     35
           2      0    33.547619  10.229566     42
           3      0    33.515152  10.031579     33
Noble      1      0    40.500000  10.606602      2
                  1    42.333333   5.859465      3
Specialist 1      0    49.000000        NaN      1
                  1    42.000000   9.165151      3
           2      1    42.000000  14.020393      8

La raison pour laquelle l'âge est important est que le fait que la personne soit un enfant, un adulte ou une personne âgée a une incidence directe sur la probabilité de survie. En particulier, il est important de trouver des enfants (dans le contexte des naufrages, il est courant de trouver la pratique "femmes et enfants d'abord"). Nous savons que tous les titres, à l'exception de "Master" et "Miss", sont en principe réservés aux adultes (à l'exception, peut-être, de certains titres de noblesse). Le titre de "Master" est exclusif aux jeunes garçons (ce que confirme l'âge moyen de ces derniers). Le titre "Miss", quant à lui, peut être utilisé pour les jeunes filles et les femmes adultes célibataires. On peut d'ailleurs le constater par l'écart-type important de l'âge des personnes portant le titre de "Miss" par rapport à l'âge moyen. En l'absence d'un meilleur moyen de distinguer les "Miss" enfants et adultes, nous les diviserons en deux groupes : celles qui voyagent avec leurs parents et celles qui ne le font pas. Nous vérifions l'âge moyen de chaque groupe.

In [10]:
print ("Age moyenne de personnes avec titre 'Miss' qui voyagen sans parents", titanicData[(titanicData.Title=="Miss") & (titanicData.Parch==0)]['Age'].mean())

print ("Age moyenne de personnes avec titre 'Miss' qui voyagen avec parents", titanicData[(titanicData.Title=="Miss") & (titanicData.Parch!=0)]['Age'].mean(), '\n')

Age moyenne de personnes avec titre 'Miss' qui voyagen sans parents 27.682795698924732
Age moyenne de personnes avec titre 'Miss' qui voyagen avec parents 11.863636363636363

Il y a une grande différence entre l'âge moyen de chaque groupe. Nous avons donc utilisé le paramètre $\textbf{Parch}$ pour estimer plus précisément l'âge des personnes ayant le titre de "Miss". Enfin, nous allons créer un nouveau titre pour catégoriser les jeunes "Miss", puis nous remplirons les âges avec les moyennes pour chaque groupe de la même combinaison de Classe, d'Age et de Titre.

In [11]:
titanicData.loc[(titanicData.Title=='Miss') & (titanicData.Parch!=0), 'Title'] = "LittleMiss"
titanicData.groupby(['Title', 'Pclass', 'Sex'])['Age'].agg(['mean', 'std', 'count'])

                            mean        std  count
Title      Pclass Sex
LittleMiss 1      0    21.000000   8.876936     16
           2      0    10.538462   8.130348     13
           3      0     6.903846   5.803050     26
Master     1      1     5.306667   5.165475      3
           2      1     2.258889   2.342634      9
           3      1     5.350833   3.593608     24
Military   1      1    56.600000   9.316652      5
Miss       1      0    34.258065  11.972100     31
           2      0    30.500000   9.650849     19
           3      0    21.697674   6.911980     43
Mr         1      1    41.580460  14.148275     87
           2      1    32.768293  11.850977     82
           3      1    28.724891  10.490946    229
Mrs        1      0    40.400000  12.779119     35
           2      0    33.547619  10.229566     42
           3      0    33.515152  10.031579     33
Noble      1      0    40.500000  10.606602      2
                  1    42.333333   5.859465      3
Specialist 1      0    49.000000        NaN      1
                  1    42.000000   9.165151      3
           2      1    42.000000  14.020393      8

In [12]:
titanicData['Age'].fillna(titanicData.groupby(['Pclass','Sex','Title'])['Age'].transform('mean'), inplace=True)

Enfin, nous éliminons les colonnes inutiles, telles que $\textbf{Name}$ (puisque des informations importantes se trouvent déjà dans la colonne $\textbf{Title}$) et $\textbf{Pclass}$ (qui est déjà représentée dans les variables muettes).

In [13]:
titanicData.drop(['Name', 'Pclass'], inplace=True, axis=1)
titanicData.head(10)

,Survived,Sex,Age,SibSp,Parch,Fare,Class_1,Class_2,Class_3,Title
0,0,1,22.000000,1,0,7.2500,0,0,1,Mr
1,1,0,38.000000,1,0,71.2833,1,0,0,Mrs
2,1,0,26.000000,0,0,7.9250,0,0,1,Miss
3,1,0,35.000000,1,0,53.1000,1,0,0,Mrs
4,0,1,35.000000,0,0,8.0500,0,0,1,Mr
5,0,1,28.724891,0,0,8.4583,0,0,1,Mr
6,0,1,54.000000,0,0,51.8625,1,0,0,Mr
7,0,1,2.000000,3,1,21.0750,0,0,1,Master
8,1,0,27.000000,0,2,11.1333,0,0,1,Mrs
9,1,0,14.000000,1,0,30.0708,0,1,0,Mrs

<h2 align="center"> <font color='blue'>Exercice 1</font></h2> <a class="anchor" id="P1"></a>

In [14]:
survQuant = titanicData.value_counts(['Survived'])
totalDead = survQuant[0]
totalPassengers = survQuant[0]+survQuant[1]
deathRate = totalDead/totalPassengers

print(f'Nombre de passagers décédés: {totalDead}')
print(f'Proportion de passagers décédés: {deathRate*100:.2f}%')

Nombre de passagers décédés: 549
Proportion de passagers décédés: 61.62%

<h2 align="center"> <font color='blue'>Exercice 2</font></h2> <a class="anchor" id="P2"></a>

In [15]:
dfFemale = titanicData.loc[titanicData['Sex'] == 0]
dfMale = titanicData.loc[titanicData['Sex'] == 1]

survQuantFem = dfFemale.value_counts(['Survived'])
totalDeadFem = survQuantFem[0]
totalFem = survQuantFem[0]+survQuantFem[1]
deathRateFem = totalDeadFem/totalFem

survQuantMale = dfMale.value_counts(['Survived'])
totalDeadMale = survQuantMale[0]
totalMale = survQuantMale[0]+survQuantMale[1]
deathRateMale = totalDeadMale/totalMale

print(f'Nombre de femmes décédés: {totalDeadFem}')
print(f'Proportion de femmes décédés: {deathRateFem*100:.2f}%\n')

print(f"Nombre d'hommes décédés: {totalDeadMale}")
print(f"Proportion d'hommes décédés: {deathRateMale*100:.2f}%")

Nombre de femmes décédés: 81
Proportion de femmes décédés: 25.80%

Nombre d'hommes décédés: 468
Proportion d'hommes décédés: 81.11%

L'analyse de la proportion de passagers tués par sexe montre que les hommes sont plus nombreux que les femmes. En effet, les hommes sont proportionnellement $3,24$ fois plus décédés que les femmes.

<h2 align="center"> <font color='blue'>Exercice 3</font></h2> <a class="anchor" id="P3"></a>

In [16]:
classes = ['Class_1', 'Class_2', 'Class_3']
totalClass = []
deathRate = []

for pclass in classes:

    dfClass = titanicData.loc[titanicData[pclass] == 1]

    survQuantClass = dfClass.value_counts(['Survived'])
    totalDeadClass = survQuantClass[0]
    totalClass.append(survQuantClass[0]+survQuantClass[1])
    deathRate.append(totalDeadClass/(survQuantClass[0]+survQuantClass[1]))

print(f'Nombre de passagers de la 1ere classe décédés: {totalClass[0]}')
print(f'Proportion de passagers de la 1ere classe décédés: {deathRate[0]*100:.2f}%\n')

print(f'Nombre de passagers de la 2eme classe décédés: {totalClass[1]}')
print(f'Proportion de passagers de la 2eme classe décédés: {deathRate[1]*100:.2f}%\n')

print(f'Nombre de passagers de la 3eme classe décédés: {totalClass[2]}')
print(f'Proportion de passagers de la 3eme classe décédés: {deathRate[2]*100:.2f}%\n')

Nombre de passagers de la 1ere classe décédés: 216
Proportion de passagers de la 1ere classe décédés: 37.04%

Nombre de passagers de la 2eme classe décédés: 184
Proportion de passagers de la 2eme classe décédés: 52.72%

Nombre de passagers de la 3eme classe décédés: 491
Proportion de passagers de la 3eme classe décédés: 75.76%

Tout comme nous l'avons observé pour les sexes, il semble également que les décès soient associés à la classe du passager. Les passagers de première classe sont proportionnellement moins décédés que les passagers de deuxième classe, qui à leur tour sont moins décédés que les passagers de troisième classe.

<h2 align="center"> <font color='blue'>Exercice 4</font></h2> <a class="anchor" id="P4"></a>

In [17]:
titanicData.corr()

,Survived,Sex,Age,SibSp,Parch,Fare,Class_1,Class_2,Class_3
Survived,1.000000,-0.543351,-0.062518,-0.035322,0.081629,0.257307,0.285904,0.093349,-0.322308
Sex,-0.543351,1.000000,0.116925,-0.114631,-0.245489,-0.182333,-0.098013,-0.064746,0.137143
Age,-0.062518,0.116925,1.000000,-0.300432,-0.208537,0.108774,0.381339,0.019868,-0.344734
SibSp,-0.035322,-0.114631,-0.300432,1.000000,0.414838,0.159651,-0.054582,-0.055932,0.092548
Parch,0.081629,-0.245489,-0.208537,0.414838,1.000000,0.216225,-0.017633,-0.000734,0.015790
Fare,0.257307,-0.182333,0.108774,0.159651,0.216225,1.000000,0.591711,-0.118557,-0.413333
Class_1,0.285904,-0.098013,0.381339,-0.054582,-0.017633,0.591711,1.000000,-0.288585,-0.626738
Class_2,0.093349,-0.064746,0.019868,-0.055932,-0.000734,-0.118557,-0.288585,1.000000,-0.565210
Class_3,-0.322308,0.137143,-0.344734,0.092548,0.015790,-0.413333,-0.626738,-0.565210,1.000000

En observant la ligne $\textbf{Survived}$, on conclue que les variables avec les plus forts correlations sont
- $\textbf{Sex}$ avec correlation $-0,54$
- $\textbf{Fare}$ avec correlation $0,26$
- $\textbf{Class_1}$ avec correlation $0,29$
- $\textbf{Class_3}$ avec correlation $-0,32$

<h2 align="center"> <font color='blue'>Exercice 5</font></h2> <a class="anchor" id="P5"></a>

D'abord, il faut calculer le estimateur du maximum de vraisemblance pour chaque paramètre du modèle. On va implementer l'algorithme $\textbf{IRLS}$ décrit dans le sujet.

In [18]:
parametres = ['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Class_1', 'Class_2', 'Class_3']
Xn = titanicData[parametres] #on prend tout les parametres
Xn = Xn.to_numpy()#et convert le dataframe en matrice numpy

Yn = titanicData['Survived']
Yn = Yn.to_numpy()#analogiquement, convert la collone du dataframe en vecteur numpy

#on definit n et p
n = Xn.shape[0]
p = Xn.shape[1]
print(f"n = {n} et p = {p}")

n = 891 et p = 8

In [19]:
#Fonction phi(t)
def phi(t):
    return 1.0/(1.0 + np.exp(-t))

#Fonction h(t)
def h(t):
    return phi(t)*(1 - phi(t))

#Fonction Phi_n(theta)
def Phi_n(theta):
    Phi_n = np.zeros(n)
    theta_T = np.transpose(theta)
    for i in range(n):
        xi = Xn[i, :]
        Phi_n[i] = phi(np.matmul(theta_T, xi))
    return Phi_n
        
#Matrice W(theta)
def W(theta):
    W = np.zeros((n,n))
    theta_T = np.transpose(theta)
    for i in range(n):
        xi = Xn[i, :]
        W[i][i] = h(np.matmul(theta_T, xi))
    return W
        
    
#Algorithme IRLS pour calculer l'estimateur de vraisemblance
def IRLS(theta_0, Xn, Yn, rho):
    
    Xn_T = np.transpose(Xn)
    
    t = 0
    theta_t = theta_0
    Phi_n_t = Phi_n(theta_t)
    W_t = W(theta_t)
    err_t = 1
    
    while(err_t >= rho):
        zt = np.matmul(Xn, theta_t) + np.matmul(inv(W_t), Yn - Phi_n_t)
        theta_t = np.matmul( inv(np.matmul(Xn_T, np.matmul(W_t, Xn))), np.matmul(Xn_T, np.matmul(W_t, zt)))
        Phi_n_t = Phi_n(theta_t)
        W_t = W(theta_t)
        err_t = norm(np.matmul(Xn_T, Yn - Phi_n_t))
        t += 1
    
    return theta_t

In [20]:
theta_0 = np.zeros(p)
theta_MV = IRLS(theta_0, Xn, Yn, 10**-10)

#l'estimateur du maximum de vraisemblance
print(f"theta_MV  = {theta_MV}")

theta_MV  = [-2.72889199e+00 -4.33869462e-02 -3.99447067e-01 -1.09888319e-01
  2.69734719e-03  4.08946313e+00  2.94326105e+00  1.74209395e+00]

Ici, on utilise le résultat de la question 14. On sait que l'intervalle de confiance de niveau $1 - \alpha$ pour le paramètre $\hat{\theta}_{n}^{MV}$ est
$$ I(\alpha) = \left[ \hat{\theta}_n^{MV} - \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\alpha}{2}} , \hat{\theta}_n^{MV} + \sqrt{\frac{\beta_{n,k}}{n}}q_{1 - \frac{\alpha}{2}} \right]$$

In [21]:
def F_n(theta):
    ret = np.zeros((p, p))
    theta_T = np.transpose(theta)
    for i in range(n):
        xi = Xn[i, :]
        ret += h(np.matmul(theta_T, xi))*np.outer(xi, xi)
    return ret

#alors, on a les coefficients beta_{n,k}
beta = inv(F_n(theta_MV)/n)

#on calcule les quantiles
quantile = sps.norm.ppf(1 - (0.05/2))

for i in range(p):
    borne_gauche = theta_MV[i] - np.sqrt(beta[i][i]/n)*quantile
    borne_droite = theta_MV[i] + np.sqrt(beta[i][i]/n)*quantile
    print(f"Intervale de confiance {parametres[i]} = [{borne_gauche}, {borne_droite}]")

Intervale de confiance Sex = [-3.1199832647511876, -2.3378007109914822]
Intervale de confiance Age = [-0.05919426345634603, -0.0275796289739451]
Intervale de confiance SibSp = [-0.6135861768222267, -0.18530795734293468]
Intervale de confiance Parch = [-0.34305168886197257, 0.12327505174319342]
Intervale de confiance Fare = [-0.0020976413420174867, 0.007492335724339357]
Intervale de confiance Class_1 = [3.1719558311163296, 5.006970429637827]
Intervale de confiance Class_2 = [2.2496598137378303, 3.6368622841698786]
Intervale de confiance Class_3 = [1.1783666881792745, 2.30582120962629]

<h2 align="center"> <font color='blue'>Exercice 6</font></h2> <a class="anchor" id="P6"></a>

On utilise le résultat de la question 16. On sait que la p-valeur est
$$ \hat{\alpha}(Y_n) = 2 - 2F \left( \sqrt{\frac{n}{\beta_{n,k}}}| \hat{\theta}_{n,k}^{MV} | \right) $$

In [22]:
p_valeur_Parch = 2 - 2*sps.norm.cdf(np.sqrt(n/beta[3][3])*abs(theta_MV[3]))
print(p_valeur_Parch)

0.35563328163702757

On en conclue que l'hipothèse $H_0$ est compatible avec les données car la p-valeur est assez grande.

Donc, on ne peut pas rejeter l'hipothèse nulle $\implies$ on doit enlever $\textbf{Parch}$ du modèle.

<h2 align="center"> <font color='blue'>Exercice 7</font></h2> <a class="anchor" id="P7"></a>

In [23]:
parametres = ['Sex', 'Age', 'SibSp', 'Fare', 'Class_1', 'Class_2', 'Class_3']
Xn = titanicData[parametres] #on supprime Parch du modele
Xn = Xn.to_numpy()
p = Xn.shape[1]

theta_0 = np.zeros(p)
theta_MV = IRLS(theta_0, Xn, Yn, 10**-10)
print(f"theta_MV  = {theta_MV}")

#les coefficients beta_{n,k}
beta = inv(F_n(theta_MV)/n)

for i in range(p):
    borne_gauche = theta_MV[i] - np.sqrt(beta[i][i]/n)*quantile
    borne_droite = theta_MV[i] + np.sqrt(beta[i][i]/n)*quantile
    print(f"Intervale de confiance {parametres[i]} = [{borne_gauche}, {borne_droite}]")

theta_MV  = [-2.69479176e+00 -4.31845337e-02 -4.26133911e-01  2.20762102e-03
  4.06821515e+00  2.89580427e+00  1.68920215e+00]
Intervale de confiance Sex = [-3.077721969945676, -2.3118615474713735]
Intervale de confiance Age = [-0.05896284418294745, -0.0274062232906965]
Intervale de confiance SibSp = [-0.6339473243753674, -0.21832049762304936]
Intervale de confiance Fare = [-0.0023576747662690466, 0.006772916813051545]
Intervale de confiance Class_1 = [3.1548249900894794, 4.981605314363205]
Intervale de confiance Class_2 = [2.2112133141531944, 3.5803952200923423]
Intervale de confiance Class_3 = [1.13813548702132, 2.240268812576983]

Enfin, nous avons observé que la longueur des intervalles a diminué légèrement, mais qu'il n'y a pas de grande différence après avoir supprimé le paramètre du modèle.
Cela renforce la conclusion que nous avons tirée de la p-valeur, à savoir que la suppression du paramètre du modèle était un bon choix.

<h2 align="center"> <font color='blue'>Exercice 8</font></h2> <a class="anchor" id="P8"></a>

In [24]:
#on utilise la même formule pour la p-valeur avec l'indice de "Fare" dans la liste de parametres
p_valeur_Fare = 2 - 2*sps.norm.cdf(np.sqrt(n/beta[3][3])*abs(theta_MV[3]))
print(p_valeur_Fare)

0.3432457411866534

On en conclue que l'hipothèse $H_0$ est compatible avec les données car la p-valeur est assez grande.

Donc, on ne peut pas rejeter l'hipothèse nulle $\implies$ on doit enlever $\textbf{Fare}$ du modèle.

<h2 align="center"> <font color='blue'>Exercice 9</font></h2> <a class="anchor" id="P9"></a>

In [25]:
parametres = ['Sex', 'Age', 'SibSp', 'Class_1', 'Class_2', 'Class_3']
Xn = titanicData[parametres] #on supprime Parch et Fare du modele
Xn = Xn.to_numpy()
p = Xn.shape[1]

theta_0 = np.zeros(p)
theta_MV = IRLS(theta_0, Xn, Yn, 10**-10)
print(f"theta_MV  = {theta_MV}")

#les coefficients beta_{n,k}
beta = inv(F_n(theta_MV)/n)

for i in range(p):
    borne_gauche = theta_MV[i] - np.sqrt(beta[i][i]/n)*quantile
    borne_droite = theta_MV[i] + np.sqrt(beta[i][i]/n)*quantile
    print(f"Intervale de confiance {parametres[i]} = [{borne_gauche}, {borne_droite}]")

theta_MV  = [-2.70865835 -0.0439107  -0.40945075  4.26401768  2.96424256  1.73330639]
Intervale de confiance Sex = [-3.0903885452974835, -2.3269281506065473]
Intervale de confiance Age = [-0.05962561960673721, -0.02819578322527977]
Intervale de confiance SibSp = [-0.6137153993525519, -0.2051861102722432]
Intervale de confiance Class_1 = [3.4396316743023267, 5.088403680010653]
Intervale de confiance Class_2 = [2.2925677679912573, 3.635917346287375]
Intervale de confiance Class_3 = [1.188511704007834, 2.278101069540702]

Enfin, nous avons observé que la longueur des intervalles a diminué légèrement, mais qu'il n'y a pas de grande différence après avoir supprimé le paramètre du modèle.
Cela renforce la conclusion que nous avons tirée de la p-valeur, à savoir que la suppression du paramètre du modèle était un bon choix.

<h2 align="center"> <font color='blue'>Exercice 10</font></h2> <a class="anchor" id="P10"></a>

In [26]:
x_test_male = np.array([1, 22, 0, 1, 0, 0])#Sex=1(homme), Age=22, SibSp=0, Pclass=1
proba_test_male = phi(theta_MV.dot(x_test_male)) #probabilite de survie pour l'homme

x_test_female = np.array([0, 22, 0, 1, 0, 0])#Sex=0(female), Age=22, SibSp=0, Pclass=1
proba_test_female = phi(theta_MV.dot(x_test_female)) #probabilite de survie pour la femme

print(f"Probabilité de survie pour l'homme {proba_test_male*100:.2f}%")
print(f"Probabilité de survie pour la femme {proba_test_female*100:.2f}%")

Probabilité de survie pour l'homme 64.32%
Probabilité de survie pour la femme 96.44%